.sb-footer {
  background: #023b1f;
  color: #eee;
  padding: 40px 20px 20px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-logo img {
  width: 150px;
  margin-bottom: 10px;
}

.footer-logo p {
  font-size: 14px;
  color: #f9c950;
}

.footer-links,
.footer-contact,
.footer-social {
  display: flex;
  flex-direction: column;
}

.footer-links h4,
.footer-contact h4,
.footer-social h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #ecc648;
}

.footer-links a {
  text-decoration: none;
  color: #f9c950;
  margin-bottom: 8px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #64040e;
}

.footer-contact p {
  margin: 4px 0;
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #f0c04f;
  font-size: 13px;
  color: #888;
}
